.MdOutlineAdd {
  // colorful gradation add button (gold and red and some
  background: linear-gradient(45deg, #f9d423 0%, #f05f57 99%, #f44336 100%);
  color: #fff;
  border: 5px solid;
  border-radius: 50%;
}
